* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.login,
.loginA,
.loginR,
.register,
.registerA,
.registerR,
.reports,
.review,
.submit {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  background-image: url("./images/homeImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
}

.login {
  background-image: url("./images/loginImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.loginA {
  background-image: url("./images/loginImg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
  font-size: 40px;
}

.loginR {
  background-image: url("./images/loginImg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
  font-size: 40px;
}

.register {
  background-image: url("./images/register.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.registerA {
  background-image: url("./images/register.jpg");
  background-position: center;
  background-repeat: no-epeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.registerR {
  background-image: url("./images/register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.reports {
  background-image: url("./images/reportImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.review {
  background-image: url("./images/reviewImg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

.submit {
  background-image: url("./images/submitImg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.header {
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.form-checkbox-group {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgb(121, 195, 219);
}

.label {
  font-size: 200px;
}

.input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
}
